<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# ЗАПРЕЩЁННЫЕ ФАЙЛЫ
RewriteRule .htaccess - [F]

# ПРАВИЛА mod_rewrite
RewriteRule ^index.html$ index.php [L]

#%{QUERY_STRING}
RewriteRule ^login(/?)+$ index.php?option=login [L,QSA]
RewriteRule ^login/([a-zA-Z]+)(/?)+$ index.php?option=login&id=$1 [L,QSA]  
RewriteRule ^reminder(/?)+$ index.php?option=reminder [L,QSA]  
RewriteRule ^reminder/([a-zA-Z0-9]+)(/?)+$ index.php?option=reminder&key=$1 [L,QSA]  
RewriteRule ^reg/([0-9]+)(/?)+$ index.php?option=reg&step=$1 [L,QSA]  
RewriteRule ^group/([0-9]+)(/?)+$ index.php?option=group&id=$1 [L,QSA]  
RewriteRule ^groups-all(/?)+$ index.php?option=groups-all [L,QSA]
RewriteRule ^files-all(/?)+$ index.php?option=files-all [L,QSA]
RewriteRule ^teachers(/?)+$ index.php?option=teachers [L,QSA]
RewriteRule ^schedule(/?)+$ index.php?option=schedule [L,QSA] 
RewriteRule ^schedule/([0-9]+)(/?)+$ index.php?option=schedule&id=$1 [L,QSA]  
RewriteRule ^timeline(/?)+$ index.php?option=timeline [L,QSA] 
RewriteRule ^timetable(/?)+$ index.php?option=timetable [L,QSA] 
RewriteRule ^replacing/([0-9,-]+)(/?)+$ index.php?option=replacinge&date=$1 [L,QSA] 
RewriteRule ^replacing/edit/([0-9,-]+)(/?)+$ index.php?option=replacinge&date=$1 [L,QSA] 
RewriteRule ^add-lesson-for-teacher/([0-9,-]+)(/?)+$ index.php?option=add-lesson-for-teacher&id=$1 [L,QSA] 

RewriteRule ^timetable-open(/?)+$ index.php?option=timetable-open [L,QSA] 
RewriteRule ^lessons(/?)+$ index.php?option=lessons [L,QSA]
