@import url('/resources/css/fonts.css');

html {
	font-size: 16px;
}

body{
	background-color: #212123;
	font-family: sans-serif, Arial;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.g-recaptcha{
	display: inline-block;
}

.main_user_login h3 {
    font-family: SF Pro Display, sans-serif;
    font-weight: 500;
    font-size: 2.1rem;
    color: white;
}

select.form-control-input {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    color: #303439;
}

.all-radio-line label {
    width: 48%;
}

.all-radio-line {
    display: flex;
    justify-content: space-between;
}

.inf-acc {
    background-color: #1d1e1f;
    padding: 13px;
    display: flex;
    border-radius: 4px;
}

.form-check-label-dark {
    color: #FFFFFF;
    font-family: SF Pro Display, sans-serif;
}

.inf-acc .title {
    color: #C8C8C8;
    font-family: SF Pro Display, sans-serif;
    width: -webkit-fill-available;
}

.inf-acc .image {
    margin-right: 13px;
    width: 37px;
    position: relative;
}

.inf-acc .image img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

label.btn-radio-ch {
    background-color: #303339;
    border-color: #3d89f4;
}

.btn-check:checked + .btn-radio-ch, .btn-check:active + .btn-radio-ch, .btn-radio-ch:active, .btn-radio-ch.active, .show > .btn-radio-ch.dropdown-toggle {
    background-color: #3d89f4;
    border-color: #3d89f4;
}

.btn-radio-ch:hover {
    background-color: #2982ff;
    border-color: #2982ff
}

.main_user_login p.title_head {
    font-family: SF Pro Display, sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 3.5rem;
    color: #C6C6C6;
}

.main_user_login label.form-label {
    color: #C6C6C6;
    font-family: SF Pro Display, sans-serif;
}

.main_user_login {
    padding: 25px 30px;
    border-radius: 15px;
    overflow: hidden;
}

.big_line_top{
    background: #436DFF;
    height: 170px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
}

.btn-def{
	background: #3d89f4;
	background-color: #3d89f4;
	border-color: #3d89f4;
}

.inform_blue p:nth-last-child(1) {
	margin-bottom: 0px;
}

.btn-def:hover{
	background: #3a7edd;
	background-color: #3a7edd;
	border-color: #3a7edd;
}

.inform_blue {
    background: #3d89f440;
    padding: 10px 15px;
    border-radius: 5px;
    color: #212529;
}

.inform_blue p {
    color: white;
}

section#login, section#reminder {
    margin-top: 75px;
    z-index: 10;
    position: relative;
}

p.title_head_l {
    color: white;
}

.main_user_reminder {
    background: #ffffff;
    padding: 25px 30px;
    box-shadow: 0px 1px 10px -2px #a4a4a4;
    border-radius: 15px;
    overflow: hidden;
}

.main_user_reminder h3 {
    font-family: SF Pro Display, sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
}

.main_user_reminder p.title_head {
    font-family: SF Pro Display, sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 3.5rem;
}

.login_url {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.left_menu {
    /* background-color: #0C132C; */
    /* height: 100vh; */
    /* position: fixed; */
    /* width: 100%; */
}

section#left_menu {
    background-color: #191919;
    height: 100vh;
    position: fixed;
    width: inherit;
}

.left_menu .logo {
    text-align: left;
    height: 60px;
    line-height: 60px;
    padding-left: 35px;
}

.left_menu .logo img {
    width: 135px;
}

.elem_menu {
    margin-top: 36px;
    padding: 0px 35px;
}

.name_sec_menu {
    color: #606367;
    font-family: "Tahoma", sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}

.elem_menu li {
    display: block;
    padding: 7px 0px 7px 0px;
    transition: 0.2s;
}

.sec_menu span {
    margin-left: 10px;
    font-family: "Tahoma", sans-serif;
    font-size: 15px;
    color: #D6D6D6;
}

.elem_menu li a {
    text-decoration: none;
    padding: 15px 0px;
}

.elem_menu li:hover {
    padding: 7px 0px 7px 5px;
}

.line_cont_search {
    line-height: 24px;
}

.line_sec_menu {
    height: 1px;
    background-color: #202020;
    margin: 10px 0px;
}

.exit_sec_menu span {
    color: #FF4848;
}

section#menu_top {
    height: 60px;
}

.data_time_web span {
    line-height: 60px;
    color: #BBBBBB;
    font-size: 13px;
    font-family: "Tahoma", sans-serif;
}

.main_search {
    border-radius: 4px;
    display: grid;
    grid-template-columns: 18px max-content 18px auto;
    height: 44px;
    margin: 8px 0px;
    min-width: 300px;
    background: #232323;
}

.main_search .img {
    grid-column: 2;
    line-height: 42px;
}

.main_search .input_search {
    grid-column: 4;
}

.main_search .input_search input {
    border: none;
    margin: 3px 0px;
    padding: 6px 15px 6px 0px;
    background: #ffffff00;
    width: 100%;
    font-family: "Tahoma", sans-serif;
    font-size: 15px;
    color: white;
}
.main_search .input_search input::-webkit-input-placeholder {
    color: #BBBBBB;
}

.main_search .img img {
    width: 13px;
}

.manu_top {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
}

h1.main_header {font-family: "SF Pro Display", sans-serif;font-size: 30px;font-weight: 500;color: white;}

h1.main_header .highlight {
    color: #5C92FD;
    font-weight: 600;
}

.main_content {
    margin: 40px 30px 0px 30px;
}

.manu_top .content_sec_menu:nth-child(2) {
    margin-left: 35px;
}

.all_icon_search {
    width: 13px;
    overflow: hidden;
    height: 44px;
    transition: 0.5s;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.all_icon_search img {
    transition: 0.5s;
}

.all_icon_search.active img {
    transform: translateY(-42px);
    transition: 0.5s;
        cursor: pointer;
}

.block_func {
    background: #282B30;
    width: initial;
    padding: 18px 15px 10px 15px;
    width: 400px;
    margin-right: 30px;
    border-radius: 4px;
}

.block_func_full {
    background: #282B30;
    padding: 15px 15px 15px 15px;
    width: 100%;
    margin-right: 30px;
    border-radius: 4px;
    max-width: 455px;
}

.block_func:nth-last-child(1) {
    margin-right: 0px;
}

.block_func .content_search .line_cont_search:hover {
    background: #436dff1a;
}

.section_all_func {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.line_left_block {
    display: flex;
}

.block_func .name span[name="title"] {
    font-family: "SF Pro Display", sans-serif;
    font-weight: 500;
    font-size: 21px;
    color: #ffffff;
}

.block_func .name a {
    text-decoration: none;
    display: block;
}

.block_func .name span[name="count"] {
    font-family: "SF Pro Display", sans-serif;
    font-size: 19px;
    color: #C6C6C6;
    margin-left: 5px;
}

.block_func .name .arrow {
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
    transition: 0.4s;
}
.block_func .name a:hover .arrow {
    transform: translate(5px, -50%);
}
.block_func .name {
    position: relative;
    margin-bottom: 20px;
}

.inp_search label {
    color: #C6C6C6;
    font-family: "SF Pro Display", sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
}

.block_func .search input:focus {
    border: 1px solid #2E5BFF;
    box-shadow: none;
}

.block_func .content_search {
    margin-top: 15px;
    overflow-y: auto;
    padding-right: 5px;
    max-height: 185px;
    position: relative;
    height: 185px;
}

.block_func .content_search .name_group_search {
    color: #C6C6C6;
    font-family: "SF Pro Display", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 5px;
    letter-spacing: 0.4px;
}

.block_func .content_search .line_cont_search a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.block_func .content_search .line_cont_search .main_name {
    font-family: "SF Pro Display", sans-serif;
    font-size: 16px;
    margin-bottom: 2px;
    font-weight: 400;
    color: white;
}

.block_func .content_search .line_cont_search .optionally {
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;
    margin-bottom: 2px;
    font-weight: 400;
    color: #C6C6C6;
    text-transform: uppercase;
}

.form-control-input {
    background: #303339;
    border-color: #17181A;
    color: white !important;
}

.form-control-input:focus {
    background: #303339;
    border-color: #17181A;
}

.content_search .nene_search {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

a.btn.btn-primary.btn-def {
    width: 100%;
}

.lineOR {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}

.lineOR .line {
    width: 100%;
    position: relative;
}

.lineOR .txt {
    padding: 0px 28px;
    white-space: nowrap;
    color: #919191;
    font-family: SF Pro Display, sans-serif;
}
button.btn-link {
    border: none;
    background: none;
    text-align: left;
    text-decoration: none;
}
.lineOR .line:before {content: "";background: #b4b4b4;height: 1px;width: 100%;position: absolute;top: 49%;}

.manu_top .content_sec_menu:nth-child(3) {
    flex-grow: 1;
    text-align: right;
    height: 60px;
}

.user_name {
    color: white;
    display: grid;
    grid-template-columns: max-content max-content;
    float: right;
    padding: 9px 0px;
}

.user_name .user .name {
    font-size: 14px;
}

.user_name .user .role {
    font-size: 14px;
    color: #C6C6C6;
}

.user_name .avatar {
    background: #2D2D2D;
    width: 34px;
    height: 34px;
    margin-left: 15px;
    border-radius: 50%;
    color: #515151;
    font-weight: 600;
    margin: 4px 0px 4px 10px;
    cursor: default;
}

input.btn-link {
    background: none;
    border: none;
}

.user_name .avatar .letter {
    text-align: center;
    line-height: 34px;
}

.choise_head {
    display: inline-block;
    margin: 0px 5px;
    position: relative;
    height: 22px;
}

div.choise_head img.choise_head_but {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button_table_func {
    display: inline-block;
    padding: 7px 35px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
}

.bar_table {
    width: 100%;
    text-align: right;
}

.button_table_func span {
    font-family: "SF Pro Display", sans-serif;
    color: white;
    letter-spacing: 0.5px;
    font-size: 14px;
}

.button_table_func img {
    margin-right: 10px;
    margin-top: -2px;
}

.button_table_func.button_table_func_blue {
    background: #5c92fd;
}

.button_table_func.button_table_func_blue:hover {
    background: #5e82c8;
}

.button_table_func.button_table_func_opacity:hover {
    background: #00000012;
}

.all_content_mg {
    margin-top: 40px;
}

.section_table table {
    width: 100%;
    color: white;
    border-radius: 5px;
    border-collapse: collapse;
}

.section_table table thead tr th {font-family: "SF Pro Display", sans-serif;font-weight: 400;font-size: 14px;text-transform: uppercase;color: #8D8D8D;padding: 15px 10px;}

.section_table table rhead {}

.section_table {
    border: 1px solid #191919;
    border-radius: 5px;
    margin-top: 20px;
}

.section_table table thead tr {
    border-bottom: 1px solid #191919;
}

.section_table table tbody tr td {
    font-family: SF Pro Display, sans-serif;
    font-size: 16px;
    padding: 10px 10px;
}

.table_row_func .button_func_tb {
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

.table_row_func .button_func_tb:nth-last-child(1) {
    margin-right: 0px;
}

.table_row_func {
    display: flex;
    justify-content: flex-end;
}

.button_func_tb {}

.table_row_func .button_func_tb img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 14px;
}

.button_func_tb.button_func_tb_red {
    background: #ff4d4d1a;
}

.button_func_tb.button_func_tb_blue {
    background: #5c92fd1a;
}

.button_func_tb.button_func_tb_blue:hover {
    background: #5c92fd4d;
}

.button_func_tb.button_func_tb_red:hover {
    background: rgb(255 77 77 / 30%);
}

.section_table table thead tr th:nth-last-child(1) {
    text-align: right;
}

.section_table table tbody tr {
    border-bottom: 1px solid #191919;
}

.section_table table tbody tr:nth-last-child(1) {
    border-bottom: none;
}

.info_drive {
    background: #5E56E8;
    padding: 13px 15px;
    border-radius: 5px;
}

.interactions_drive {
    display: flex;
    gap: 15px;
}

.interactions_drive > div {
    width: 50%;
}

.image_head_info_drive {
    background: white;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
}

.head_info_drive {
    display: flex;
    margin-bottom: 20px;
}

.title_head_info_drive p.main {    
    font-family: "SF Pro Display", sans-serif;
    color: white;
    font-size: 18px;
    margin: 0px;
    line-height: 22px;
}

.title_head_info_drive {
    margin-left: 10px;
}

.title_head_info_drive p.general {    
    font-family: "Tahoma", sans-serif;
    font-size: 12px;
    color: #ddd;
    margin: 0px;
}

ul.title_remaining_resources {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

ul.title_remaining_resources li {font-family: "Tahoma", sans-serif;font-size: 14px;color: #ddd;}

.progress_bar_remaining_resources {
    background: #918CEB;
    height: 5px;
    border-radius: 50px;
    margin-top: 4px;
    position: relative;
}

.progress_bar_remaining_resources .line {
    background: white;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 5px;
    width: 35%;
    border-radius: 50px;
}

.drag_and_drop_file {
    background: rgb(92 146 253 / 10%);
    border: 2px dashed #5C92FD;
    border-radius: 5px;
    text-align: center;
    padding: 5px 4px;
    padding: 15px;
}

.drag_and_drop_file .title p {
    margin: 0px;
    padding: 0px;
    font-family: "SF Pro Display", sans-serif;
    font-size: 13px;
    color: #75A4FF;
}

.drag_and_drop_file .title p span.func_upload_file {
    text-decoration: underline;
    cursor: pointer;
}

.drag_and_drop_file .image {
    margin-bottom: 10px;
}

.head_user_file h3 {font-family: "SF Pro Display", sans-serif;font-size: 20px;color: white;font-weight: 400;margin: 0px;}

.head_user_file h3 span {
    color: #9A97E1;
}

.head_user_file {
    display: flex;
    justify-content: space-between;
    margin: 25px 0px;
}

.head_user_file p a {font-family: "SF Pro Display", sans-serif;font-size: 14px;text-decoration: none;color: #C6C6C6;}

.head_user_file p a img {
    margin-left: 5px;
}

.head_user_file > p {
    margin: 0px;
}

.head_user_file > p:hover {
    opacity: 0.8;
}

.file {
    background: #212123;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.file_info {
    display: grid;
    grid-template-columns: 32px auto max-content;
    grid-gap: 17px;
    z-index: 100;
}

.file-upload-list .file_info{
    position: relative;
}

.file_info .button_add {
        width: 0px;
    position: absolute;
    top: 0px;
    cursor: pointer;
    right: 0px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
    padding: 15px 0px;
    border-radius: 5px;
    transition: 0.2s;
    margin-right: calc(-100% - 70px);
}

.file:nth-last-child(1) {
    margin-bottom: 0px;
}

.file_info p {
    margin: 0px;
    font-family: "SF Pro Display", sans-serif;
}

.file_info .image img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.file_info .name_file {
    position: relative;
    min-height: 30px;
}

.file_info .size_file p {
    color: #DDDDDD;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.file_info .size_file {
    position: relative;
    width: 50px;
}

.file_info .name_file:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.name_file p {
    display: inline-block;
    vertical-align: middle;
}

.file:hover .file_info .button_add {
    background: #1D1D1E;
    width: calc(100% - 68px);
    transition: 0.2s;
    margin-right: 0px;
}

.file:hover .file_info .button_add img {
    display: inline-block;
}

.button_add img {
    width: 17px;
    height: 17px;
    margin-right: 8px;
    margin-top: 3px;
}

.button_add .button_add_f {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.inform_use_file {
    background: #212123;
    border: 1px solid #6E6AB7;
    margin-top: 25px;
    display: flex;
    padding: 15px 20px;
    color: white;
    font-family: "SF Pro Display", sans-serif;
    border-radius: 5px;
    font-weight: 1;
    letter-spacing: 0.4px;
}

.inform_use_file .image {
    margin-right: 20px;
    position: relative;
    width: 48px;
}

.inform_use_file p {
    margin: 0px;
    font-size: 15px;
}

.inform_use_file .image img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.file_upload {
    background: #212123;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.file_upload .progressbar_upload {
    background: #5E56E8;
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0px;
    left: 0px;
    transition: 0.5s;
}

.file_upload.error {
    background: rgb(255 52 52);
}

.section_table table tbody tr td a {
    color: white;
    text-decoration: none;
}

.add-new-input-student {
    padding: 10px 10px;
    border: 1px solid #0e6efd5e;
    margin: 5px 15px 20px 15px;
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
}

.button-add {
    background: #0e6efd;
    width: 30px;
    height: 30px;
    line-height: 31px;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 20px;
    border-radius: 5px;
}

.button-add:hover {
    cursor: pointer;
    background: #025ce2;
}

.button-delete {
    background: #fd0e0e;
    width: 30px;
    height: 30px;
    line-height: 31px;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 15px;
}

.button-delete:hover {
    cursor: pointer;
    background: #e20202;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
	section#login {
		margin-top: 50px;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	section#login {
	    margin-top: 50px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}