@import url('/resources/css/fonts.css');

html {
    font-size: 16px;
}

body{
    background-color: #212123;
    color: white;
    font-family: sans-serif, Arial;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.g-recaptcha{
    display: inline-block;
}

.main_user_login h3 {
    font-family: SF Pro Display, sans-serif;
    font-weight: 500;
    font-size: 2.1rem;
    color: white;
}

.back_url a {
    color: #dcdcdc;
    text-decoration: none;
    font-family: "SF Pro Display", sans-serif;
    font-weight: 500;
}

.back_url a:hover {
    color: #cccccc;
}

select.form-control-input {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    color: #303439;
}

.all-radio-line label {
    width: 48%;
}

.all-radio-line {
    display: flex;
    justify-content: space-between;
}

.inf-acc {
    background-color: #1d1e1f;
    padding: 13px;
    display: flex;
    border-radius: 4px;
}

.form-check-label-dark {
    color: #FFFFFF;
    font-family: SF Pro Display, sans-serif;
}

.inf-acc .title {
    color: #C8C8C8;
    font-family: SF Pro Display, sans-serif;
    width: -webkit-fill-available;
}

.inf-acc .image {
    margin-right: 13px;
    width: 37px;
    position: relative;
}
.sec_menu {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}
h2.even_week {
    font-family: "SF Pro Display", sans-serif;
    color: white;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 0px;
    font-weight: 400;
    background: #2d2d2d;
    width: max-content;
    padding: 2px 10px;
    border-radius: 20px;
    letter-spacing: 0.5px;
    display: inline-block;
}

.block_even_week {text-align: right;}

.inf-acc .image img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

label.btn-radio-ch {
    background-color: #303339;
    border-color: #3d89f4;
}

.btn-check:checked + .btn-radio-ch, .btn-check:active + .btn-radio-ch, .btn-radio-ch:active, .btn-radio-ch.active, .show > .btn-radio-ch.dropdown-toggle {
    background-color: #3d89f4;
    border-color: #3d89f4;
}

.btn-radio-ch:hover {
    background-color: #2982ff;
    border-color: #2982ff
}

.main_user_login p.title_head {
    font-family: SF Pro Display, sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 3.5rem;
    color: #C6C6C6;
}

.main_user_login label.form-label {
    color: #C6C6C6;
    font-family: SF Pro Display, sans-serif;
}

.full_name_inst {
    line-height: 60px;
    color: #a0a0a0;
    font-size: 13px;
    font-family: "Tahoma", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main_user_login {
    padding: 25px 30px;
    border-radius: 15px;
    overflow: hidden;
}

.big_line_top{
    background: #436DFF;
    height: 170px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
}

.btn-def{
    background: #3d89f4;
    background-color: #3d89f4;
    border-color: #3d89f4;
    color: white;
}

.inform_blue p:nth-last-child(1) {
    margin-bottom: 0px;
}

.def-group {
    width: max-content;
}

.def-group select {
    min-width: 200px !important;
    border: 1px solid #3c89f4;
    background-color: #3c89f426;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}


.btn-def:hover{
    background: #3a7edd;
    background-color: #3a7edd;
    border-color: #3a7edd;
}

.inform_blue {
    background: #3d89f440;
    padding: 10px 15px;
    border-radius: 5px;
    color: #212529;
}

.inform_blue p {
    color: white;
}

section#login, section#reminder {
    margin-top: 75px;
    z-index: 10;
    position: relative;
}

p.title_head_l {
    color: white;
}

.main_user_reminder {
    background: #ffffff;
    padding: 25px 30px;
    box-shadow: 0px 1px 10px -2px #a4a4a4;
    border-radius: 15px;
    overflow: hidden;
}

.main_user_reminder h3 {
    font-family: SF Pro Display, sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
}

.main_user_reminder p.title_head {
    font-family: SF Pro Display, sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: 3.5rem;
}

.login_url {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.left_menu {
    /* background-color: #0C132C; */
    /* height: 100vh; */
    /* position: fixed; */
    /* width: 100%; */
}

section#left_menu {
    background-color: #191919;
    height: 100vh;
    position: fixed;
    width: inherit;
    z-index: 9999;
}

.left_menu .logo {
    text-align: left;
    height: 60px;
    line-height: 60px;
    padding-left: 35px;
}

.left_menu .logo img {
    width: 135px;
}

.elem_menu {
    margin-top: 36px;
    padding: 0px 35px;
}

.name_sec_menu {
    color: #606367;
    font-family: "Tahoma", sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}

.all_url_group .group {
    display: flex;
    margin-bottom: 10px;
    line-height: 38px;
    justify-content: space-between;
}

.all_url_group .group input {
    width: 250px;
}

.all_url_group {
    overflow-y: auto;
    height: 267px;
}

.elem_menu li {
    display: block;
    padding: 7px 0px 7px 0px;
    transition: 0.2s;
}

.sec_menu span {
    margin-left: 10px;
    font-family: "Tahoma", sans-serif;
    font-size: 15px;
    color: #D6D6D6;
}

.elem_menu li a {
    text-decoration: none;
    padding: 15px 0px;
}

.elem_menu li:hover {
    padding: 7px 0px 7px 5px;
}

.replace-info {
    padding-top: 15px;
    margin-top: 2px;
}

.schedule_day_full .one_lesson:hover {
    cursor: pointer;
}

.header-replace-info {
    font-family: 'SF Pro Display', sans-serif;
    color: #61b766;
    margin-bottom: 15px;
    font-size: 16px;
}

.block-replace-info {
    background: #212121;
    padding: 15px;
    border-top: 1px solid #4EB755;
}

.line_cont_search {
    line-height: 24px;
}

.line_sec_menu {
    height: 1px;
    background-color: #202020;
    margin: 10px 0px;
}

.exit_sec_menu span {
    color: #FF4848;
}

section#menu_top {
    height: 60px;
}

.data_time_web span {
    line-height: 60px;
    color: #BBBBBB;
    font-size: 13px;
    font-family: "Tahoma", sans-serif;
}

.main_search {
    border-radius: 4px;
    display: grid;
    grid-template-columns: 18px max-content 18px auto;
    height: 44px;
    margin: 8px 0px;
    min-width: 300px;
    background: #232323;
}

.main_search .img {
    grid-column: 2;
    line-height: 42px;
}

.main_search .input_search {
    grid-column: 4;
}

.main_search .input_search input {
    border: none;
    margin: 3px 0px;
    padding: 6px 15px 6px 0px;
    background: #ffffff00;
    width: 100%;
    font-family: "Tahoma", sans-serif;
    font-size: 15px;
    color: white;
}
.main_search .input_search input::-webkit-input-placeholder {
    color: #BBBBBB;
}
.calendar.opt tbody tr th {
    text-align: left;
}

.calendar.opt tbody tr td {
    vertical-align: inherit;
}

.table-option {
    overflow-x: auto;
}

.calendar.opt table {
    table-layout: unset;
}

.calendar.opt thead tr th:nth-child(1) {
    width: 230px;
}
.calendar table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.stat_info_for_bar {
    background: rgb(81 81 81);
    padding: 0px 15px;
    line-height: 38px;
    border-radius: 5px;
    margin-right: 15px;
}
.calendar tbody tr th {
    text-align: center;
    border: 1px solid #2d2d2d;
    padding: 10px;
}

.calendar thead tr th {
    text-align: center;
    border: 1px solid #2d2d2d;
    padding: 10px;
}

.one_lesson .short_info .name_lesson .replace {
    background: #5CFD67;
    width: 7px;
    height: 7px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 50px;
}
.calendar {
    margin-top: 29px;
}

.menu_month {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

.menu_month .back img {
    width: 20px;
    transform: rotate(180deg);
}

.menu_month .next img {
    width: 20px;
}

.menu_month .next {
    line-height: 33px;
}

.menu_month .back {
    line-height: 33px;
}

.menu_month .back.hidden {
    opacity: 0.4;
}

.menu_month .back.hidden a {
    cursor: default;
}

.all_dop_page_info {
    background-color: rgb(0 0 0 / 10%);
    height: 100%;
    position: fixed;
    width: inherit;
    z-index: 100;
    margin-left: -2px;
    padding-top: 60px;
    padding: 60px 15px 0px 15px;
}

.head_dop_info {
    font-family: "Tahoma", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #D6D6D6;
}

.item_repl_lesson {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: max-content max-content;
    grid-column-gap: 15px;
}

.item_repl_lesson p {
    grid-column: 2;
    margin: 0px;
    font-family: "Tahoma", sans-serif;
    font-size: 14px;
    color: #C6C6C6;
}

.item_repl_lesson img {
    grid-row-start: 1;
    grid-row-end: 3;
    width: 26px;
    margin-top: 11px;
}

.all_folders_repl a:hover {
    background: #232323;
}


.dop_head_text {
    font-size: 14px;
    color: #C6C6C6;
}

.menu_month .name_month {
    line-height: 37px;
    font-size: 19px;
    font-family: "SF Pro Display", sans-serif;
    font-weight: 400;
    color: white;
}

.menu_month .back a {
    display: block;
}
.calendar-popup {
        background: rgb(92 253 103 / 30%);
    color: rgb(92 253 103);
    border-radius: 25px;
    border: 1px solid rgb(92 253 103);
    width: max-content;
    margin: auto;
    padding: 3px 8px;
    max-width: 100%;
    font-size: 13px;
    margin-top: 5px;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

td.calendar-day.today {color: #5c92fd;background: #5c92fd14;}

.calendar tbody tr td {
    text-align: center;
    border: 1px solid #2d2d2d;
    padding: 10px 0px 5px;
    height: 80px;
    vertical-align: baseline;
}

.calendar tbody tr td.calendar-day.last {
    opacity: 0.2;
}

.calendar tbody tr td {
    background: #19191959;
}

.calendar tbody tr td.calendar-day {
    background: none !important;
}

.main_search .img img {
    width: 13px;
}

.manu_top {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
}

h1.main_header {font-family: "SF Pro Display", sans-serif;font-size: 30px;font-weight: 500;color: white;}

h1.main_header .highlight {
    color: #5C92FD;
    font-weight: 600;
}

.main_content {
    margin: 40px 30px 0px 30px;
}

.manu_top .content_sec_menu:nth-child(2) {
    margin-left: 35px;
}

.all_icon_search {
    width: 13px;
    overflow: hidden;
    height: 44px;
    transition: 0.5s;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.all_icon_search img {
    transition: 0.5s;
}

.all_icon_search.active img {
    transform: translateY(-42px);
    transition: 0.5s;
        cursor: pointer;
}

.block_func {
    background: #282B30;
    width: initial;
    padding: 18px 15px 10px 15px;
    width: 600px;
    margin-right: 30px;
    border-radius: 4px;
}

.back_url svg path {
    fill: #dcdcdc;
}

.back_url svg {
    width: 14px;
    margin: 6px 5px 8px 5px;
}

.back_url:hover svg path {
    fill: #cccccc;
}

.block_func_full {
    background: #282B30;
    padding: 15px 15px 15px 15px;
    width: 100%;
    margin-right: 30px;
    border-radius: 4px;
    max-width: 455px;
}

.block_func:nth-last-child(1) {
    margin-right: 0px;
}

.all_errors_found {
    margin: 12px -10px 0px 30px;
}

.all_errors_found .alert.alert-primary {
    padding: 10px 15px;
}

.block_func .content_search .line_cont_search:hover {
    background: #436dff1a;
}

.section_all_func {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.line_left_block {
    display: flex;
}

.one_lesson .short_info .teacher_lesson {
    color: #7B7B7B;
    font-size: 13px;
    text-align: right;
}

.footer-lesson {
    display: flex;
    justify-content: space-between;
}

.block_func .name span[name="title"] {
    font-family: "SF Pro Display", sans-serif;
    font-weight: 500;
    font-size: 21px;
    color: #ffffff;
}

.block_func .name a {
    text-decoration: none;
    display: block;
}

.block_func .name span[name="count"] {
    font-family: "SF Pro Display", sans-serif;
    font-size: 19px;
    color: #C6C6C6;
    margin-left: 5px;
}

.block_func .name .arrow {
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
    transition: 0.4s;
}

.calendar tbody tr td.calendar-day:hover {background: rgb(25 25 25) !important;cursor: pointer;}

.block_func .name a:hover .arrow {
    transform: translate(5px, -50%);
}
.block_func .name {
    position: relative;
    margin-bottom: 20px;
}

.head_dop_info span {
    color: #5C92FD;
}

.item_repl_lesson div {font-family: "Tahoma", sans-serif;}


.inp_search label {
    color: #C6C6C6;
    font-family: "SF Pro Display", sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
}

.block_func .search input:focus {
    border: 1px solid #2E5BFF;
    box-shadow: none;
}

.block_func .content_search {
    margin-top: 15px;
    overflow-y: auto;
    padding-right: 5px;
    max-height: 185px;
    position: relative;
    height: 185px;
}

.block_func .content_search .name_group_search {
    color: #C6C6C6;
    font-family: "SF Pro Display", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 5px;
    letter-spacing: 0.4px;
}

.block_func .content_search .line_cont_search a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.block_func .content_search .line_cont_search .main_name {
    font-family: "SF Pro Display", sans-serif;
    font-size: 16px;
    margin-bottom: 2px;
    font-weight: 400;
    color: white;
}

.block_func .content_search .line_cont_search .optionally {
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;
    margin-bottom: 2px;
    font-weight: 400;
    color: #C6C6C6;
    text-transform: uppercase;
}

.form-control-input {
    background: #303339;
    border-color: #17181A;
    color: white !important;
}

.all_folders_repl a {
    text-decoration: none;
    color: white;
    display: block;
}

.form-control-input:focus {
    background: #303339;
    border-color: #17181A;
}
.all_folders_repl a {
    padding: 3px 20px;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 15px;
}
.form-control-input:disabled {
    background-color: #1c1c1d;
    color: rgb(72 72 72) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgb(72 72 72)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}
.content_search .none_search {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

a.btn.btn-primary.btn-def {
    width: 100%;
}

.lineOR {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}

.lineOR .line {
    width: 100%;
    position: relative;
}

.lineOR .txt {
    padding: 0px 28px;
    white-space: nowrap;
    color: #919191;
    font-family: SF Pro Display, sans-serif;
}
button.btn-link {
    border: none;
    background: none;
    text-align: left;
    text-decoration: none;
}
.lineOR .line:before {content: "";background: #b4b4b4;height: 1px;width: 100%;position: absolute;top: 49%;}

.manu_top .content_sec_menu:nth-child(3) {
    flex-grow: 1;
    text-align: right;
    height: 60px;
    min-width: max-content;
}

.content_sec_menu {
    min-width: 140px;
}

.user_name {
    color: white;
    display: grid;
    grid-template-columns: max-content max-content;
    float: right;
    padding: 9px 0px;
}

.user_name .user .name {
    font-size: 14px;
}

.user_name .user .role {
    font-size: 14px;
    color: #C6C6C6;
}

.user_name .avatar {
    background: #2D2D2D;
    width: 34px;
    height: 34px;
    margin-left: 15px;
    border-radius: 50%;
    color: #515151;
    font-weight: 600;
    margin: 4px 0px 4px 10px;
    cursor: default;
}

input.btn-link {
    background: none;
    border: none;
}

.user_name .avatar .letter {
    text-align: center;
    line-height: 34px;
}

.choise_head {
    display: inline-block;
    margin: 0px 5px;
    position: relative;
    height: 22px;
}

div.choise_head img.choise_head_but {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button_table_func {
    display: inline-block;
    padding: 7px 35px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
    position: relative;
}

.bar_table {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    height: 38px;
}

.button_table_func span {
    font-family: "SF Pro Display", sans-serif;
    color: white;
    letter-spacing: 0.5px;
    font-size: 14px;
    position: relative;
}

.button_table_func img {
    margin-right: 10px;
    margin-top: -2px;
    position: relative;
    width: 14px;
}

.button_table_func.button_table_func_blue {
    background: #5c92fd;
}

.button_table_func.button_table_func_blue:hover {
    background: #5e82c8;
}

.all_content_mg {
    margin-top: 40px;
    background: #212123;
}

.section_table table {
    width: 100%;
    color: white;
    border-radius: 5px;
    border-collapse: collapse;
}

.section_table table thead tr th {font-family: "SF Pro Display", sans-serif;font-weight: 400;font-size: 14px;text-transform: uppercase;color: #8D8D8D;padding: 15px 10px;}

.section_table table rhead {}

.section_table {
    border: 1px solid #191919;
    border-radius: 5px;
    margin-top: 20px;
}

.inp-copy img {
    width: 15px;
}

.section_table table thead tr {
    border-bottom: 1px solid #191919;
}

.section_table table tbody tr td {
    font-family: SF Pro Display, sans-serif;
    font-size: 16px;
    padding: 10px 10px;
}

.table_row_func .button_func_tb {
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
}

.table_row_func .button_func_tb:nth-last-child(1) {
    margin-right: 0px;
}

.table_row_func {
    display: flex;
    justify-content: flex-end;
}

.button_func_tb {}

.table_row_func .button_func_tb img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 14px;
}

.button_func_tb.button_func_tb_red {
    background: #ff4d4d1a;
}

.button_func_tb.button_func_tb_blue {
    background: #5c92fd1a;
}

.button_func_tb.button_func_tb_blue:hover {
    background: #5c92fd4d;
}

.button_func_tb.button_func_tb_red:hover {
    background: rgb(255 77 77 / 30%);
}

.section_table table thead tr th:nth-last-child(1) {
    text-align: right;
}

.section_table table tbody tr {
    border-bottom: 1px solid #191919;
}

.section_table table tbody tr:nth-last-child(1) {
    border-bottom: none;
}

.info_drive {
    background: #5E56E8;
    padding: 13px 15px;
    border-radius: 5px;
}
.main_info_page {
    background-color: #1C1C1E;
    padding: 15px;
    width: 100%;
    border-radius: 4px;
    height: inherit;
}


.item_quick_actions {
    background: #282b30;
    display: grid;
    min-width: 5%;
    height: 100px;
    grid-template-rows: 30px auto max-content;
    border-radius: 4px;
    padding: 10px;
}

.item_quick_actions.option {
    background: #5C92FD;
}

.item_quick_actions.option .txt_quick_actions p {
    color: #141a27;
    font-weight: 500;
}

.item_quick_actions.option:hover {
    background: #4f7fde;
}

.inp-copy {
    display: flex;
}
.inp-copy .copy:hover {
    cursor: pointer;
    background: #27292d;
}
.inp-copy .copy {
    width: 32px;
    text-align: center;
    margin-right: 5px;
    background: #303339;
    border: 1px solid #17181A;
    height: 36px;
    margin-top: 1px;
    border-radius: 4px;
        line-height: 34px;
}

.item_quick_actions img {
    width: 20px;
}

.item_quick_actions .txt_quick_actions {
    grid-row: 3;
}

.item_quick_actions .txt_quick_actions p {
    display: block;
    font-family: "SF Pro Display", sans-serif;
    color: #D6D6D6;
}

.quick_actions .title {
    margin-bottom: 10px;
    font-family: "SF Pro Display", sans-serif;
    font-size: 19px;
}

.item_quick_actions:hover {
    background: #303339;
    cursor: pointer;
}

.all_quick_actions {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 48% 48%;
    width: 100%;
}

.item_quick_actions p {
    margin: 0px;
}


.alert-primary-def {
    background: #3c89f417;
    color: #5c92fd;
    border-color: #3c89f4;
}

.alert-primary-def div {
    margin-left: 15px;
}
.main_info_page .name span[name='title'] {
    font-family: "SF Pro Display", sans-serif;
    color: white;
    font-size: 21px;
}

.main_info_page .name {
    margin-bottom: 15px;
}
.bar_table.table-mg {
    margin: 0px 0px 10px 0px;
}
.interactions_drive {
    display: flex;
    gap: 15px;
}
.interactions_drive > div {
    width: 50%;
}
.interactions_actions {
    display: block;
    gap: 15px;
}
.interactions_actions > div {
    width: auto;
}
.notification-info h3 {
    font-size: 20px;
    font-weight: 500;
    font-family: "SF Pro Display", sans-serif;
}

.notification-info p {color: #dcdcdc;margin: 0px;}

.image_head_info_drive {
    background: white;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
}

.head_info_drive {
    display: flex;
    margin-bottom: 20px;
}

.title_head_info_drive p.main {    
    font-family: "SF Pro Display", sans-serif;
    color: white;
    font-size: 18px;
    margin: 0px;
    line-height: 22px;
}

.title_head_info_drive {
    margin-left: 10px;
}

.title_head_info_drive p.general {    
    font-family: "Tahoma", sans-serif;
    font-size: 12px;
    color: #ddd;
    margin: 0px;
}

ul.title_remaining_resources {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

ul.title_remaining_resources li {font-family: "Tahoma", sans-serif;font-size: 14px;color: #ddd;}

.progress_bar_remaining_resources {
    background: #918CEB;
    height: 5px;
    border-radius: 50px;
    margin-top: 4px;
    position: relative;
}

.button_table_func_opacity:hover:before {
    content: "";
    transform: scale(1) translate(-50%, -50%);
    background: #515151;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
}

.button_table_func_opacity:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 4px;
    transform: scale(0.8) translate(-60%, -60%);
    transition: 0.2s;
}

.progress_bar_remaining_resources .line {
    background: white;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 5px;
    width: 35%;
    border-radius: 50px;
}

.drag_and_drop_file {
    background: rgb(92 146 253 / 10%);
    border: 2px dashed #5C92FD;
    border-radius: 5px;
    text-align: center;
    padding: 5px 4px;
    padding: 15px;
}

.drag_and_drop_file .title p {
    margin: 0px;
    padding: 0px;
    font-family: "SF Pro Display", sans-serif;
    font-size: 13px;
    color: #75A4FF;
}

.drag_and_drop_file .title p span.func_upload_file {
    text-decoration: underline;
    cursor: pointer;
}

.drag_and_drop_file .image {
    margin-bottom: 10px;
}

.head_user_file h3 {font-family: "SF Pro Display", sans-serif;font-size: 20px;color: white;font-weight: 400;margin: 0px;}

.head_user_file h3 span {
    color: #9A97E1;
}

.head_user_file {
    display: flex;
    justify-content: space-between;
    margin: 25px 0px;
}

.head_user_file p a {font-family: "SF Pro Display", sans-serif;font-size: 14px;text-decoration: none;color: #C6C6C6;}

.head_user_file p a img {
    margin-left: 5px;
}

.head_user_file > p {
    margin: 0px;
}

.head_user_file > p:hover {
    opacity: 0.8;
}

.file {
    background: #212123;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.file_info {
    display: grid;
    grid-template-columns: 32px auto max-content;
    grid-gap: 17px;
    z-index: 100;
}

.file-upload-list .file_info{
    position: relative;
}

.file_info .button_add {
        width: 0px;
    position: absolute;
    top: 0px;
    cursor: pointer;
    right: 0px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
    padding: 15px 0px;
    border-radius: 5px;
    transition: 0.2s;
    margin-right: calc(-100% - 70px);
}

.file:nth-last-child(1) {
    margin-bottom: 0px;
}

.file_info p {
    margin: 0px;
    font-family: "SF Pro Display", sans-serif;
}

.file_info .image img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.file_info .name_file {
    position: relative;
    min-height: 30px;
}

.file_info .size_file p {
    color: #DDDDDD;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.file_info .size_file {
    position: relative;
    width: 50px;
}

.file_info .name_file:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

.name_file p {
    display: inline-block;
    vertical-align: middle;
}

.file:hover .file_info .button_add {
    background: #1D1D1E;
    width: calc(100% - 68px);
    transition: 0.2s;
    margin-right: 0px;
}

.file:hover .file_info .button_add img {
    display: inline-block;
}

.button_add img {
    width: 17px;
    height: 17px;
    margin-right: 8px;
    margin-top: 3px;
}

.button_add .button_add_f {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.inform_use_file {
    background: #212123;
    border: 1px solid #6E6AB7;
    margin-top: 25px;
    display: flex;
    padding: 15px 20px;
    color: white;
    font-family: "SF Pro Display", sans-serif;
    border-radius: 5px;
    font-weight: 1;
    letter-spacing: 0.4px;
}

.inform_use_file .image {
    margin-right: 20px;
    position: relative;
    width: 48px;
}

.inform_use_file p {
    margin: 0px;
    font-size: 15px;
}

.inform_use_file .image img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.file_upload {
    background: #212123;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.file_upload .progressbar_upload {
    background: #5E56E8;
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0px;
    left: 0px;
    transition: 0.5s;
}

.file_upload.error {
    background: rgb(255 52 52);
}

.section_table table tbody tr td a {
    color: white;
    text-decoration: none;
}

.add-new-input-student {
    padding: 10px 10px;
    border: 1px solid #0e6efd5e;
    margin: 5px 15px 20px 15px;
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
}

.all_input_cab .col {padding-right: 5px;padding-left: 5px;}

.all_input_cab .col:nth-last-child(1) {
    padding-right: 15px;
}

.all_input_cab .col:nth-child(1) {
    padding-left: 15px;
}

.button-add {
    background: #0e6efd;
    width: 30px;
    height: 30px;
    line-height: 31px;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 20px;
    border-radius: 5px;
}

.button-add:hover {
    cursor: pointer;
    background: #025ce2;
}

.button-delete {
    background: #fd0e0e;
    width: 30px;
    height: 30px;
    line-height: 31px;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 15px;
}

.button-delete:hover {
    cursor: pointer;
    background: #e20202;
}

.modal-content {
    background: #282B30;
}

.modal-content .modal-header {
    border-bottom: 1px solid #020202;
    font-family: "SF Pro Display", sans-serif;
}

.modal-content .modal-footer {
    border-top: 1px solid #020202;
}

.modal-header .modal-title {
    font-family: "SF Pro Display", sans-serif;
    font-weight: 400;
    color: white;
}

.modal-content label {
    color: #C6C6C6;
    font-family: "SF Pro Display", sans-serif;
    font-size: 16px;
    margin-bottom: 8px;
}

.modal.fade.show {
    backdrop-filter: blur(4.5px);
}

.modal-body label {
    color: #C6C6C6;
    font-family: "SF Pro Display", sans-serif;
    font-size: 16px;
    margin-bottom: 8px;
}

.head_edit_user a {
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #C6C6C6;
}

.head_edit_user h3 {
    font-family: "SF Pro Display", sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 400;
}

.head_edit_user {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px 15px;
}

.block_edit_user{
    display: none;
}

.lessons .lesson {
    color: #8D8D8D;
    font-size: 14px;
}

.lessons .lesson span.delete {
    background: #ff4d4d1a;
    color: #ff4d4d;
    padding: 2.5px 10px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.lessons .lesson span.delete:hover {background: #ff4d4d4d;}

.lessons .lesson span.delete img {
    width: 7px;
}

.sec_menu img {
    width: 15.8px;
}

.all_groups {
    margin-top: 30px;
}

.group_info {
    background-color: #282B30;
    margin-bottom: 15px;
    border-radius: 4px;
    padding: 13px 15px;
    display: grid;
    grid-template-columns: 55px auto 10px;
    transition: 0.3s;
}

.schedule_day_head .date_day {
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;
    text-align: right;
    color: #7B7B7B;
    margin-bottom: 10px;
    line-height: 29px;
    margin-right: 5px;
}

span.name_week {
    font-family: "SF Pro Display", sans-serif;
    color: white;
    font-size: 16px;
    margin-left: 15px;
    font-weight: 400;
    background: #2d2d2d;
    width: max-content;
    padding: 2px 15px;
    border-radius: 10px;
    letter-spacing: 0.5px;
    display: inline-block;
}

.group_info .image .back {
    background-color: #212123;
    height: 40px;
    width: 40px;
    position: absolute;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}

.group_info .image {
    position: relative;
}

.group_info .image .back img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.group_info .title .name {
    font-size: 17px;
    font-family: "SF Pro Display", sans-serif;
}

.group_info .title .option {
    font-size: 14px;
    color: #8D8D8D;
    font-family: "SF Pro Display", sans-serif;
    display: none;
}

.generation_code {
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto 10px max-content;
}

.generation_code .btn {
    grid-column: 3;
}

.group_info .opt .on {
    background-color: rgb(92 253 103 / 10%);
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: relative;
}

.group_info .opt .on:after {content: "";background-color: #5CFD67;width: 5px;height: 5px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);border-radius: 50px;}

.all_groups .group_back {
    padding-right: 0px;
}

.all_groups .group_back a {
    color: white;
    text-decoration: none;
}

.group_info:hover {
    transform: scale(1.05) translateY(-10px);
}

.group_info:hover:after {content: "";position: absolute;background: rgb(40 43 48 / 75%);width: 70%;height: 7px;bottom: -7px;z-index: 5;left: 50%;transform: translateX(-50%);opacity: 1;border-radius: 0px 0px 4px 4px;transition: 0.3s;}

.group_info:after {
    opacity: 0;
    content: "";
    position: absolute;
    background: #2e3033;
    width: 51%;
    height: 5px;
    bottom: 0px;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    border-radius: 5px 5px 50px 50px;
    transition: 0.3s;
    bottom: 0px;
}

.group_info:hover:before {
    content: "";
    background: rgb(40 43 48 / 30%);
    width: 43%;
    height: 5px;
    z-index: 5;
    opacity: 1;
    border-radius: 0px 0px 4px 4px;
    transition: 0.3s;
    bottom: -12px;
}

.group_info:before {
    opacity: 1;
    bottom: -4px;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.schedule_table {
    margin-top: 30px;
      background: #212123;
}

.schedule_none {
    opacity:0.5;
    cursor: default;
    -ms-user-select: none; 
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.schedule_day_full {
    background-color: #1C1C1E;
    padding: 15px;
    width: 100%;
    border-radius: 4px;
    height: inherit;
}

.none_schedule {
    display: grid;
    grid-template-columns: max-content 15px max-content;
    width: max-content;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.none_schedule img {
    width: 27px;
    margin: 12px 0px;
}
.none_schedule p {
    grid-column: 3;
    font-size: 18px;
    color: #cccccc;
    margin-bottom: 5px;
    line-height: 58px;
    margin: 0px;
}

.modal-full-info {
    position: fixed;
    background: #1C1C1E;
    width: 390px;
    top: 0px;
    z-index: 9999;
    right: 0px;
    padding: 5px 19px;
    height: 100%;
    right: -100%;
    transition: 0.9s;
}

.modal-full-info.active {
    right: 0px;
    transition: 0.4s;
}

.head-full-info {
    display: flex;
    justify-content: space-between;
}

.head-full-info .close {
    margin: 18px 0px;
}

.full-info {
    margin-top: 20px;
}

.lesson-time {font-family: 'SF Pro Display', sans-serif;color: #C2C2C2;margin-bottom: 13px;}

.lesson-name {
    font-family: 'SF Pro Display', sans-serif;
    color: #ffffff;
    margin-bottom: 13px;
    font-size: 19px;
}

.lesson-timeline-text {
    font-family: 'SF Pro Display', sans-serif;
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 16px;
}

.lesson-timeline-text span.highlight {
    font-size: 18px;
    color: #6f9fff;
}

.lesson-timeline {
    background: #3A3A3A;
    height: 2px;
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
}

.lesson-timeline .line {
    background: #5C92FD;
    position: absolute;
    width: 40%;
    height: 100%;
}

.lesson-info-item {
    margin-bottom: 13px;
}

.lesson-info-item_name {
    font-family: 'SF Pro Display', sans-serif;
    color: #8E8E8E;
    font-size: 16px;
}

.lesson-info-item_text {
    font-family: 'SF Pro Display', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}

.dark-back {
    background: rgb(18 18 18 / 50%);
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    display: none;
}

.dark-back.active {
    display: block;
}

.modal-full-info .user_name .user .role {
    text-align: right;
}

.schedule_day .name_day {
    font-family: "SF Pro Display", sans-serif;
    color: white;
    font-size: 21px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.one_lesson_delete {
    position: absolute;
    right: -100px;
    z-index: 9999;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    background: #1c1c1e;
    transition: 0.1s;
    padding-left: 10px;
}

.one_lesson_delete .button_func_tb.button_func_tb_red {
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    background: #ff4d4d1a;
}

.one_lesson_delete .button_func_tb.button_func_tb_red img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 14px;
}

.one_lesson:hover .one_lesson_delete {
    right: 0px;
    transition: 0.1s;
}

.one_lesson_delete .button_func_tb.button_func_tb_red:hover {
    background: rgb(255 77 77 / 30%);
}

.schedule_day_full .one_lesson {
    display: grid;
    grid-template-columns: 50px 2px auto;
    max-width: 100%;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.short_info {
    width: 100%;
}

.one_lesson .line_day_interf {
    background-color: #373739;
}

.one_lesson .short_info {
    padding-left: 12px;
    font-family: "SF Pro Display", sans-serif;
}

.schedule_day_full .one_lesson:nth-last-child(1) {
    margin-bottom: 0px;
}

.one_lesson .time {
    display: grid;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.one_lesson .time .time_start {font-family: "SF Pro Display", sans-serif;font-size: 15px;text-align: right;}

.one_lesson .time .time_end {font-family: "SF Pro Display", sans-serif;font-size: 14px;text-align: right;color: #7B7B7B;}

.one_lesson .short_info .name_lesson {
    font-size: 16px;
    color: #C2C2C2;
    margin-bottom: 5px;
}

.one_lesson .short_info .cabinet_lesson {
    color: #7B7B7B;
    font-size: 13px;
    margin-right: 10px;
}

.schedule_day {
    margin-bottom: 30px;
    height: calc(100% - 35px);
}

.reating-arkows {
 display: inline-block;
 margin-left: 15px;
 margin-right: 15px;
 padding: 7px 0px;
}
.reating-arkows *, .reating-arkows *:before, .reating-arkows *:after {
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 cursor:pointer;
}
.reating-arkows input[type="checkbox"] {
 opacity: 0;
 position: absolute;
 top: 0;
 left: 0;
}
.reating-arkows input[type="checkbox"][disabled] ~ label {
 pointer-events: none;
}
.reating-arkows input[type="checkbox"][disabled] ~ label .trianglesusing {
 opacity: 0.4;
}
.reating-arkows input[type="checkbox"]:checked ~ label .trianglesusing:before {
 content: ""/*attr(data-unchecked)*/;
 left: 0;
}
.reating-arkows input[type="checkbox"]:checked ~ label .trianglesusing:after {
 content: ""/*attr(data-checked)*/;
}
.reating-arkows label {
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 position: relative;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-align-items: center;
 -ms-flex-align: center;
 align-items: center;
}
.reating-arkows label .moresharpened {
 -webkit-flex: 1;
 -ms-flex: 1;
 flex: 1;
 padding-left: 32px;
}
.reating-arkows label .trianglesusing {
 position: relative;
}
.reating-arkows label .trianglesusing:before {
 content: ""/*attr(data-checked)*/;
 position: absolute;
 top: 0;
 text-transform: uppercase;
 text-align: center;
}
.reating-arkows label .trianglesusing:after {
 content: ""/*attr(data-unchecked)*/;
 position: absolute;
 z-index: 5;
 text-transform: uppercase;
 text-align: center;
 background: white;
 -webkit-transform: translate3d(0, 0, 0);
 transform: translate3d(0, 0, 0);
}
.reating-arkows input[type="checkbox"][disabled] ~ label {
 color: rgba(119, 119, 119, 0.5);
}
.reating-arkows input[type="checkbox"]:focus ~ label .trianglesusing, .reating-arkows input[type="checkbox"]:hover ~ label .trianglesusing {
 background-color: #72767d;
}
.reating-arkows input[type="checkbox"]:focus ~ label .trianglesusing:after, .reating-arkows input[type="checkbox"]:hover ~ label .trianglesusing:after {
 color: #72767d;
}
.reating-arkows input[type="checkbox"]:hover ~ label {
 color: #615b5b;
}
.reating-arkows input[type="checkbox"]:checked ~ label:hover {
 color: #38962d;
}
.reating-arkows input[type="checkbox"]:checked ~ label .trianglesusing {
 background-color: #4cb583;
}
.reating-arkows input[type="checkbox"]:checked ~ label .trianglesusing:after {
 color: #4cb583;
}
.reating-arkows input[type="checkbox"]:checked:focus ~ label .trianglesusing, .reating-arkows input[type="checkbox"]:checked:hover ~ label .trianglesusing {
 background-color: #45a53a;
}
.reating-arkows input[type="checkbox"]:checked:focus ~ label .trianglesusing:after, .reating-arkows input[type="checkbox"]:checked:hover ~ label .trianglesusing:after {
 color: #39942f;
}
.reating-arkows label .moresharpened {
 -webkit-flex: 1;
 -ms-flex: 1;
 flex: 1;
}
.reating-arkows label .trianglesusing {
 -webkit-transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
 transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
 background: #72767d;
}
.reating-arkows label .trianglesusing:before {
 color: rgba(255, 255, 255, 0.5);
}
.reating-arkows label .trianglesusing:after {
 -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
 transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
 color: #6b6565;
}
.reating-arkows input[type="checkbox"]:focus ~ label .trianglesusing:after, .reating-arkows input[type="checkbox"]:hover ~ label .trianglesusing:after {
 box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
.reating-arkows input[type="checkbox"]:checked ~ label .trianglesusing:after {
 -webkit-transform: translate3d(65px, 0, 0);
 transform: translate3d(65px, 0, 0);
}
.reating-arkows input[type="checkbox"]:checked:focus ~ label .trianglesusing:after, .reating-arkows input[type="checkbox"]:checked:hover ~ label .trianglesusing:after {
 box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
.reating-arkows label {
 font-size: 14px;
}
.reating-arkows label .trianglesusing {
 height: 36px;
 -webkit-flex: 0 0 134px;
 -ms-flex: 0 0 134px;
 flex: 0 0 134px;
 border-radius: 4px;
}
.reating-arkows label .trianglesusing:before {
 left: 67px;
 font-size: 12px;
 line-height: 36px;
 width: 67px;
 padding: 0 12px;
}
.reating-arkows label .trianglesusing:after {
 top: 2px;
 left: 2px;
 border-radius: 2px;
 width: 65px;
 line-height: 32px;
 font-size: 12px;
}
.reating-arkows label .trianglesusing:hover:after {
 box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
.reating-arkows.twokadjacent input[type="checkbox"]:focus ~ label .trianglesusing:after, .reating-arkows.twokadjacent input[type="checkbox"]:hover ~ label .trianglesusing:after {
 box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.reating-arkows.twokadjacent input[type="checkbox"]:checked ~ label .trianglesusing:after {
 -webkit-transform: translate3d(44px, 0, 0);
 transform: translate3d(44px, 0, 0);
}
.reating-arkows.twokadjacent input[type="checkbox"]:checked:focus ~ label .trianglesusing:after, .reating-arkows.twokadjacent input[type="checkbox"]:checked:hover ~ label .trianglesusing:after {
 box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.reating-arkows.twokadjacent label {
 font-size: 13px;
}
.reating-arkows.twokadjacent label .trianglesusing {
 height: 28px;
 -webkit-flex: 0 0 90px;
 -ms-flex: 0 0 90px;
 flex: 0 0 90px;
 border-radius: 2px;
}
.reating-arkows.twokadjacent label .trianglesusing:before {
 left: 45px;
 font-size: 10px;
 line-height: 28px;
 width: 45px;
 padding: 0 12px;
}
.reating-arkows.twokadjacent label .trianglesusing:after {
 top: 1px;
 left: 1px;
 border-radius: 1px;
 width: 44px;
 line-height: 26px;
 font-size: 10px;
}
.reating-arkows.twokadjacent label .trianglesusing:hover:after {
 box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
.reating-arkows.transparentin input[type="checkbox"]:focus ~ label .trianglesusing:after, .reating-arkows.transparentin input[type="checkbox"]:hover ~ label .trianglesusing:after {
 box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.reating-arkows.transparentin input[type="checkbox"]:checked ~ label .trianglesusing:after {
 -webkit-transform: translate3d(78px, 0, 0);
 transform: translate3d(78px, 0, 0);
}
.reating-arkows.transparentin input[type="checkbox"]:checked:focus ~ label .trianglesusing:after, .reating-arkows.transparentin input[type="checkbox"]:checked:hover ~ label .trianglesusing:after {
 box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.reating-arkows.transparentin label {
 font-size: 14px;
}
.reating-arkows.transparentin label .trianglesusing {
 height: 50px;
 -webkit-flex: 0 0 160px;
 -ms-flex: 0 0 160px;
 flex: 0 0 160px;
 border-radius: 4px;
}
.reating-arkows.transparentin label .trianglesusing:before {
 left: 80px;
 font-size: 14px;
 line-height: 50px;
 width: 80px;
 padding: 0 12px;
}
.reating-arkows.transparentin label .trianglesusing:after {
 top: 2px;
 left: 2px;
 border-radius: 2px;
 width: 78px;
 line-height: 46px;
 font-size: 14px;
}
.reating-arkows.transparentin label .trianglesusing:hover:after {
 box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.reating-arkows.imagexplains input[type="checkbox"][disabled] ~ label {
 color: rgba(181, 62, 116, 0.5);
}
.reating-arkows.imagexplains input[type="checkbox"]:focus ~ label .trianglesusing, .reating-arkows.imagexplains input[type="checkbox"]:hover ~ label .trianglesusing {
 background-color: #b53e74;
}
.reating-arkows.imagexplains input[type="checkbox"]:focus ~ label .trianglesusing:after, .reating-arkows.imagexplains input[type="checkbox"]:hover ~ label .trianglesusing:after {
 color: #82224d;
}
.reating-arkows.imagexplains input[type="checkbox"]:hover ~ label {
 color: #8e2a58;
}
.reating-arkows.imagexplains input[type="checkbox"]:checked ~ label:hover {
 color: #2d825c;
}
.reating-arkows.imagexplains input[type="checkbox"]:checked ~ label .trianglesusing {
 background-color: #379a6e;
}
.reating-arkows.imagexplains input[type="checkbox"]:checked ~ label .trianglesusing:after {
 color: #368a65;
}
.reating-arkows.imagexplains input[type="checkbox"]:checked:focus ~ label .trianglesusing, .reating-arkows.imagexplains input[type="checkbox"]:checked:hover ~ label .trianglesusing {
 background-color: #3d9c72;
}
.reating-arkows.imagexplains input[type="checkbox"]:checked:focus ~ label .trianglesusing:after, .reating-arkows.imagexplains input[type="checkbox"]:checked:hover ~ label .trianglesusing:after {
 color: #2f7757;
}
.reating-arkows.imagexplains label .moresharpened {
 -webkit-flex: 1;
 -ms-flex: 1;
 flex: 1;
}
.reating-arkows.imagexplains label .trianglesusing {
 -webkit-transition: background-color 0.3s ease-in-out;
 transition: background-color 0.3s ease-in-out;
 background: #c14b81;
}
.reating-arkows.imagexplains label .trianglesusing:before {
 color: rgba(255, 255, 255, 0.6);
}
.reating-arkows.imagexplains label .trianglesusing:after {
 -webkit-transition: -webkit-transform 0.3s ease-in-out;
 transition: transform 0.3s ease-in-out;
 color: #b53e74;
}
.reating-arkows.zatujgdsanuk input[type="checkbox"][disabled] ~ label {
 color: rgba(68, 68, 68, 0.5);
}
.reating-arkows.zatujgdsanuk input[type="checkbox"]:focus ~ label .trianglesusing, .reating-arkows.zatujgdsanuk input[type="checkbox"]:hover ~ label .trianglesusing {
}
.reating-arkows.zatujgdsanuk input[type="checkbox"]:focus ~ label .trianglesusing:after, .reating-arkows.zatujgdsanuk input[type="checkbox"]:hover ~ label .trianglesusing:after {
 color: #72767d;
}
.reating-arkows.zatujgdsanuk input[type="checkbox"]:hover ~ label {
 color: #C2C2C2;
}
.reating-arkows.zatujgdsanuk input[type="checkbox"]:checked ~ label:hover {
 color: #62b125;
}
.reating-arkows.zatujgdsanuk input[type="checkbox"]:checked ~ label .trianglesusing {
 background-color: #4cb583;
}
.reating-arkows.zatujgdsanuk input[type="checkbox"]:checked ~ label .trianglesusing:after {
    color: #4cb583;
    content: "";
    line-height: 20px;
    background-image: url('/resources/images/icon/checking-mark.svg');
    background-repeat: no-repeat;
    background-size: 11px;
    background-position: 4px 4px;
}
.reating-arkows.zatujgdsanuk input[type="checkbox"]:checked:focus ~ label .trianglesusing, .reating-arkows.zatujgdsanuk input[type="checkbox"]:checked:hover ~ label .trianglesusing {
 background-color: #4cb583;
}
.reating-arkows.zatujgdsanuk input[type="checkbox"]:checked:focus ~ label .trianglesusing:after, .reating-arkows.zatujgdsanuk input[type="checkbox"]:checked:hover ~ label .trianglesusing:after {
 color: #4cb583;
}
.reating-arkows.zatujgdsanuk label .moresharpened {
 -webkit-flex: 1;
 -ms-flex: 1;
 flex: 1;
}
.reating-arkows.zatujgdsanuk label .trianglesusing {
 -webkit-transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1);
 transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1);
 background: #72767d;
}
.reating-arkows.zatujgdsanuk label .trianglesusing:before {
 color: rgba(255, 255, 255, 0.7);
}
.reating-arkows.zatujgdsanuk label .trianglesusing:after {
 -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
 transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
 color: #72767d;
}
.reating-arkows.zatujgdsanuk input[type="checkbox"]:focus ~ label .trianglesusing:after, .reating-arkows.zatujgdsanuk input[type="checkbox"]:hover ~ label .trianglesusing:after {
 box-shadow: none;
}
.reating-arkows.zatujgdsanuk input[type="checkbox"]:checked ~ label .trianglesusing:after {
 -webkit-transform: translate3d(34px, 0, 0);
 transform: translate3d(19px, 0, 0);
}
.reating-arkows.zatujgdsanuk input[type="checkbox"]:checked:focus ~ label .trianglesusing:after, .reating-arkows.zatujgdsanuk input[type="checkbox"]:checked:hover ~ label .trianglesusing:after {box-shadow: none;}
.reating-arkows.zatujgdsanuk label {
 font-size: 13px;
 display: grid;
 grid-template-columns: max-content auto;
 grid-gap: 10px;
}
.reating-arkows.zatujgdsanuk label .trianglesusing {
 height: 25px;
 -webkit-flex: 0 0 65px;
 -ms-flex: 0 0 65px;
 /* flex: 0 0 65px; */
 border-radius: 65px;
 display: inline-block;
 width: 45px;
}
.reating-arkows.zatujgdsanuk label .trianglesusing:before {
 left: 60px;
 font-size: 13px;
 line-height: 60px;
 width: 60px;
 padding: 0 12px;
}
.reating-arkows.zatujgdsanuk label .trianglesusing:after {
    top: 3px;
    left: 3px;
    border-radius: 13px;
    width: 19px;
    height: 19px;
    font-size: 13px;
    line-height: 20px;
    background-image: url('/resources/images/icon/checking-none.svg');
    background-repeat: no-repeat;
    background-size: 9px;
    background-position: 5px 5px;
}
.reating-arkows.zatujgdsanuk label .trianglesusing:hover:after {
 box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}


.title_but {
    display: inline-block;
    font-family: "SF Pro Display", sans-serif;
    color: white;
    letter-spacing: 0.2px;
    font-size: 14px;
}

.schedule_day_head {
    display: flex;
    justify-content: space-between;
}

.button_anim_scale {
    padding-right: 15px;
    cursor: pointer;
    padding: 3px 11px;
    margin-bottom: 10px;
    position: relative;
}

.button_anim_scale img {
    width: 10px;
    position: relative;
}


.button_anim_scale:before {content: "";width: 100%;height: 100%;position: absolute;left: 50%;top: 50%;border-radius: 4px;transform: scale(0.8) translate(-60%, -60%);transition: 0.2s;}

.button_anim_scale:hover:before {
    transform: scale(1) translate(-50%, -50%);
    background: #515151;
    left: 50%;
    top: 50%;
}

.col-dv-time {
    width: min-content;
    padding: 0px;
}

.form-control-input-time{
    text-align: center;
}

.dv-time {
    margin: 7px 0px;
}

.time_end_add label {
    text-align: right;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    section#login {
        margin-top: 50px;
    }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    section#login {
        margin-top: 50px;
    }
    .block_func_full {
        max-width: none;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .menu_open .sec_menu span {
    display: block;
}

.menu_open {
    width: 300px !important;
}

.menu_open .sec_menu {
    width: 100%;
    display: flex;
}

.sec_menu span{
    display: none;
}
.sec_menu img {
    width: 19px;
}

.sec_menu {
    width: max-content;
    background: #282b30;
    padding: 10px;
    width: 55px;
    border-radius: 4px;
    text-align: center;
}

section#left_menu {
    position: fixed;
    overflow: hidden;
    height: -webkit-fill-available;
}

.elem_menu {padding: 0px 15px;}

nav {}

section#left_menu {
    overflow-y: scroll;
    width: max-content;
}

.name_sec_menu {
    display: none;
}

.left_menu .logo {
    display: none;
}
.left_func {
    width: 100%;
}

.block_func {
    width: 100%;
}
.block_func_full {
    max-width: none;
    margin-top: 30px;
}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .sec_menu span{
        display: none;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {

}